<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>视频目标检测系统截图</title>  
<style>
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}



body 
{

	background-image:url('/static/tu/12.jpg');
	background-repeat:repeat-x;
}


</style>
</head>
<body>


 

<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/v1.jpg">
      <img src="/static/tu/v1.jpg" alt="52" width="150" height="200">
    </a>
    <div class="desc">原视频</div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/v2.jpg">
      <img src="/static/tu/v2.jpg" alt="53" width="150" height="200">
    </a>
    <div class="desc">相邻帧差法Diff图</div>
  </div>
</div>
<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/v3.jpg">
      <img src="/static/tu/v3.jpg" alt="54" width="150" height="200">
    </a>
    <div class="desc">相邻帧差法识别图</div>
  </div>
</div>
<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/v4.jpg">
      <img src="/static/tu/v4.jpg" alt="55" width="150" height="200">
    </a>
    <div class="desc">相邻帧差法Erode图</div>
  </div>
</div>
<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/v5.jpg">
      <img src="/static/tu/v5.jpg" alt="56" width="150" height="200">
    </a>
    <div class="desc">三帧差法识别图</div>
  </div>
</div>




<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/v6.jpg">
      <img src="/static/tu/v6.jpg" alt="57" width="150" height="200">
    </a>
    <div class="desc">三帧差法Erode图</div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/v7.jpg">
      <img src="/static/tu/v7.jpg" alt="58" width="150" height="200">
    </a>
    <div class="desc">三帧差法前景图</div>
  </div>
</div>
<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/v8.jpg">
      <img src="/static/tu/v8.jpg" alt="59" width="150" height="200">
    </a>
    <div class="desc">三帧差法掩码图</div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/v9.jpg">
      <img src="/static/tu/v9.jpg" alt="60" width="150" height="200">
    </a>
    <div class="desc">背景差法前景图</div>
  </div>
</div>


<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/v10.jpg">
      <img src="/static/tu/v8.jpg" alt="61" width="150" height="200">
    </a>
    <div class="desc">三帧差法阈值为50</div>
  </div>
</div>











</body>
</html>

